body {background-color: black; color: white;text-decoration: none;}
@font-face {
    font-family:"Yapari";
    src: url("./Yapari-Variable-Trial-VF.ttf") format("truetype") ;
    
} 
             body {font-family:"Yapari";}
.name { 
    font-size: 35px;
    font-weight: 800;
    top:90px;
    
    
    }

.author{ font-size: 18px;
    font-weight: 200;
    

}
.intro { position: relative;
    margin-left: auto;
    font-size: 12.5px;
    left: 900px;
    text-align: justify;
    top: -30px;
    
}
a {
    text-decoration: none;
    color: white;
}
.numbers {
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 80px;
    line-height: 30px;
    
}