body {
    margin: 0;
    height: 100%;
    background-color: black;
    color: azure;
}

.block_menu {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
width: 100%;
top: 50%;
transform: translateY(-50%);
position:absolute;

}

.link
{
text-decoration: none;
color: azure;
}

.name
{
    font-family: monospace;
    font-size: 20px;
    transition: font-size 1s;

}

.name:hover 
{
    font-size: 40px;
}