@font-face {
    font-family:"Owners";
    src: url("./fonts/owners-font/OwnersTRIALWide-XBlack-BF64361ef567cf7.otf");
  }
  @font-face {
    font-family:"OwnersWide";
    src: url("./fonts/owners-font/OwnersTRIALWide-Light-BF64361ef5869d4.otf");
  }
  @font-face {
    font-family:"Owners1";
    src: url("./fonts/owners-font/OwnersTRIALWide-XLightItalic-BF64361ef58b34c.otf");
  }
  
  body {
    background-color:plum;
    margin: 0;
}

.wrapper {
    width: 100vw;
    overflow-x: scroll;
}
.page {
    width: 100vw;
    float:left;
    height: 100vh;
    position: relative;
}
.next {
    right: 150px;
    position: absolute;
    top: 600px;
}
.piechart {
  /* margin-top: 500px;
  margin: 0 400px; */
  width: 500px !important;
  height: 500px !important;
}
.piecartsall {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
