@font-face {
    font-family:"Owners";
    src: url("./fonts/owners-font/OwnersTRIALWide-XBlack-BF64361ef567cf7.otf");
  }
  @font-face {
    font-family:"OwnersWide";
    src: url("./fonts/owners-font/OwnersTRIALWide-Light-BF64361ef5869d4.otf");
  }
  @font-face {
    font-family: "OwnersRegular";
    src: url("./fonts/owners-font/OwnersTRIALWide-MediumItalic-BF64361ef4dbfad.otf");
}
@font-face {
  font-family: "Owners";
  src: url("./fonts/owners-font/OwnersTRIALWide-XBlack-BF64361ef567cf7.otf");
}

  
  body {
    background-color:green;
    margin: 0;
}

.wrapper {
    width: 100vw;
    overflow-x: scroll;
}
/* .page {
    width: 100vw;
    float:left;
    height: 100vh;
} */
.next {
    right: 150px;
    position: absolute;
    top: 600px;
}
.stats {
  font-family: "OwnersRegular";
  font-size: 45px;
  color: white;
  text-align: center;
  margin-top: 230px;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 1.5;
  

}
.stats2 {
  font-family: "Owners";
  font-size: 50px;
  color: white;
  /* text-align: center; */
  line-height: 1.5;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  margin-top: 50px;
}
.stats3 {
  font-family: "OwnersWide";
  font-size: 45px;
  color: white;
  display: flex;
  text-align: center;
text-decoration: none;
/* margin-left: 40px; */
justify-content: center;
margin-top: 30px;
line-height: normal;
}
.stats3:hover {
  background-color: #FAC60F;
  text-decoration: underline;
}